<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <form method="post">
                <div class="card mt-5">
                    <div class="card-header">
                        Position
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="positionName">Position Name</label>
                            <input class="form-control" placeholder="Enter Position Name" type="text" name="Name" id="positionName" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>