@model Category

<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <form method="post">
                <div class="card mt-5">
                    <div class="card-header">
                        <b>Are you sure want to delete it?</b>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/category">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>